extends ../layout

block content
    .section
        .row
            h3='Timetable'
            br
            .col.s7
                a(class="waves-effect light-blue lighten-1 btn" href='/enrolment/scheduling') Reserve a timeslot
        .divider
        .row
            h3= 'Enrolment Forms'
            br
            .col.s7
                a(class="waves-effect light-blue lighten-1 btn disabled" href='..') Enrolment Forms