extends ../layout

block content
  .section 
    h3= 'Sessions'
    .row
      .col.s12.m5
        h4='Monday / Thursday' 
        table.centered
          thead
            tr
              th Timeslot
              th Capacity
              th Action
              if current_user.role == '1' || '2' 
                th List
          tbody
            each schedules in schedule_one
              tr
                  td #{schedules.timeslot}
                  td #{schedules.capacity}/20
                  td 
                    if schedules.capacity == '20'
                      form(method='GET' action=('/enrolment/scheduling/form/' + schedules.id))
                        button(class="btn waves-effect light-blue lighten-1 disabled" type="submit") Class Full
                    else 
                      form(method='GET' action=('/enrolment/scheduling/form/' + schedules.id))
                        button(class="btn waves-effect light-blue lighten-1" type="submit") Reserve
                  if current_user.role == '1' || '2' 
                    td 
                      if schedules.capacity == '0'
                        form(method='GET' action=('/enrolment/scheduling/list/' + schedules.id))
                            button(class="btn waves-effect light-blue lighten-1 disabled" type="submit") List
                      else
                        form(method='GET' action=('/enrolment/scheduling/list/' + schedules.id))
                          button(class="btn waves-effect light-blue lighten-1 " type="submit") List
      .col.s1.m1
      .col.s12.m5
        h4='Tuesday / Friday' 
        table.centered
          thead
            tr
              th Timeslot
              th Capacity
              th Action
              if current_user.role == '1' || '2'
                th List
          tbody
            each schedules in schedule_two
              tr
                  td #{schedules.timeslot}
                  td #{schedules.capacity}/20
                  td 
                    if schedules.capacity == '20'
                      form(method='GET' action=('/enrolment/scheduling/form/' + schedules.id))
                        button(class="btn waves-effect light-blue lighten-1 disabled" type="submit") Class Full
                    else 
                      form(method='GET' action=('/enrolment/scheduling/form/' + schedules.id))
                        button(class="btn waves-effect light-blue lighten-1" type="submit") Reserve
                  if current_user.role == '1' || '2'  
                    td 
                      if schedules.capacity == '0'
                        form(method='GET' action=('/enrolment/scheduling/list/' + schedules.id))
                            button(class="btn waves-effect light-blue lighten-1 disabled" type="submit") List
                      else
                        form(method='GET' action=('/enrolment/scheduling/list/' + schedules.id))
                          button(class="btn waves-effect light-blue lighten-1 " type="submit") List