extends ../layout

block content
    .section
        //- .alert(class="alert-danger", role="alert", id="error-group", style="display: none")
        //-     ul(id="errors")
        .row
            h2= title
            br
            form(method='POST' action='')
                .row
                    .input-field.col.s12.m7
                        label(for='name') Full Name
                        input#name.form-control(placeholder='John Smith', type='text', name='name', required='true')
                        <span class="helper-text" data-error="wrong" data-success="right">Please ensure full name is correctly typed e.g. John Smith </span>
                    .input-field.col.s12.m6
                        p
                            label Choose your subject:
                        p
                            label.radio-inline
                                input(type='radio', value='Math', name='subject', class='with-gap')
                                span(class = 'spanSchedule') Math
                        p
                            label.radio-inline
                                input(type='radio', value='English', name='subject', class='with-gap')
                                span(class = 'spanSchedule') English
                        p
                            label.radio-inline
                                input(type='radio', value='Both', name='subject', class='with-gap')
                                span(class = 'spanSchedule') Both
                .row
                    .col.s6.m5.l5
                        a.waves-effect.waves-light.btn.light-blue.lighten-1.modal-trigger(href='#modal1') Submit
                        .gap
                        // Modal Structure
                        #modal1.modal
                            .modal-content
                                h4 Confirmation
                                p Please confirm your details one last time before you submit.
                            .divider
                            .modal-footer
                                a.modal-close.waves-effect.btn-flat.modal-button(href='#!') Change
                                .gap
                                button.btn.btn-flat.modal-close.grey.lighten-5.modal-button(type='submit') Continue
                        a(class="waves-effect light-blue lighten-1 btn" href="..") Cancel

            if errors 
                ul
                for error in errors
                    li!= error.msg