extends ../layout

block content
  .row
    h3= title
    .col.s8
      h4=schedule_name[0].day
      h4=schedule_name[0].timeslot
      .responsive-table 
        table
          thead
            tr
              th No.
              th Name
              th Subject
              th 
          tbody
            each user, index in schedule
              tr
                td #{index+1}
                td #{user.name} 
                td #{user.subject}
                td 
                  form(method='POST' action='')
                    div.form-group
                      .input-field.col.s7
                          label.radio-inline
                            input(type='radio', name='id', value = index, checked='')
                    button(class="btn waves-effect light-blue lighten-1" type="submit") Delete
  .row
    .input-field.col.s3
      <a class="waves-effect light-blue lighten-1 btn" href="..">Cancel</a>
      