extends ../layout

block content
  .row
    h3= title
    .col.s12.m8
      br
      table.centered
        thead
          tr
            th Level
            th Page
            th Audio File
        tbody
          each file in file_audio_list
            tr
              td #{file.level}
              td #{file.page_number}
              td 
                //- audio(autoplay=false, controls=true controlsList=nodownload)
                //-   source(src=file.linkurl)
                a(href=file.linkurl) Audio Link
                  

