extends ../layout

block content
    .section
        .row.hide-on-small-only
            div.iframe-container
                iframe(src=file_list[0].linkurl allowfullscreen)
        .row.hide-on-med-and-up
            p #[em This function is not fully implemented on mobile yet. Click the link below for material.]
            a(href=file_list[0].linkurl) Link