extends ../layout

block content
    .section
        .row
            .col.s12.m12.l6
                h3= 'English Answers'
                br
                each level in ['2A','AI', 'AII', 'BI', 'BII', 'CI', 'CII', 'DI', 'DII', 'EI', 'EII', 'FI', 'FII']
                    .col.s6.m2.l3
                        a(href="/resources/english/answers/"+ level)
                            .card
                                .card-content
                                    span #{level}
            .col.s12.m12.l6
                h3= 'English Audio'
                br
                each level in ['7A','6A','5A','4A','3A','2A','AI', 'AII', 'BI', 'BII', 'CI', 'CII', 'DI', 'DII', 'EI', 'EII', 'FI', 'FII']
                    .col.s6.m2.l3
                        a(href="/resources/english/listening/"+ level)
                            .card
                                .card-content
                                    span #{level}
            
        .divider
        .row
            .col.s12.m12.l12
                h3= 'Math Answers / Solutions'
                br
                each level in ['3A,2A,A', 'B', 'C', 'D','E','F','G','H','I']
                    .col.s6.m2.l2
                        a(href="/resources/math/answers/"+ level)
                            .card
                                .card-content
                                    span #{level}
