doctype html
html(lang='en')
  head
    title= 'K-Library'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(defer src='/javascripts/scripts.js')
  body
    nav.light-blue.accent-2.hide-on-large-only(role='navigation')
      .nav-wrapper.container
        ul#slide-out.sidenav
          if isAuthenticated
            li
              .user-view
                .background
                  img(src='/images/profile_background.png' class="responsive-img")
                a(href=current_user.url)
                  img.circle(src='/images/profile.png' class="circle responsive-img")
                a(href='#!')
                  span #{current_user.fullname}
                a(href='#!')
                  if (current_user.role === 0)
                    span Role: User
                  else if (current_user.role === 1)
                    span Role: Editor
                  else 
                    span Role: Admin
              a(href=current_user.url class="waves-effect")
                span Profile
              if (current_user.role === 2)
                li
                  a(href='/users/register' class="waves-effect") Create Account
          else
            li
              .user-view
                .background
                  img(src='/images/profile_background.png' class="responsive-img")
                a(href='#!')  
                  img.circle(src='/images/profile.png' class="circle responsive-img")
                a(href='#!')
                  span Welcome to K-library!
            li
              a(href='/users' class="waves-effect") Login
          li
            .divider
          li
            a(href='/' class="waves-effect") Home
          //- li
          //-   a(href='/news' class="waves-effect") News
          li
            a(href='/resources' class="waves-effect") Resources
          li
            a(href='/enrolment' class="waves-effect") Parents
          li
            a(href='/users/logout' class="waves-effect") Logout
          

        a.sidenav-trigger(href='#', data-target='slide-out', class="sidenav-trigger show-on-large draggable")
          i.material-icons menu
    nav.light-blue.accent-2.hide-on-med-and-down(role='navigation')
      .nav-wrapper.container
        ul.left
          li
            a(href='/') Home
          //- li
          //-   a(href='/news') News
          li
            a(href='/resources') Resources
          li
            a(href='/enrolment') Parents
        if isAuthenticated
          ul.right
            li
              a(href=current_user.url) #{current_user.fullname}
            li
              a(href='/users/logout') Logout
        else
          ul.right
            li
              a(href='/users') Login
            if isAuthenticated
              li
                a(href='/users/register' class="waves-effect") Register
    main
      .container
        block content
    br
    footer.page-footer.transparent
      .footer-copyright.transparent
        .container.center.black-text
            p
              | Copyright ©
              script(type='text/javascript ').
                document.write(new Date().getFullYear());
              |  All rights reserved | Hugh Media Company
    