extends layout

block content
  .section
    #top.row.center.valign
      .full-page
        .col.s12.m10.offset-m1
          h1(class="header animate__animated animate__fadeInDown animate__delay-1s") K-Library
          h4(class="light animate__animated animate__fadeInDown animate__delay-1s") Welcome to #[em K-Library]. Ready-to-use Kumon resources all in one place! 
          .button-top
            .row.center
              a(class="waves-effect waves-light light-blue accent-2 btn-large animate__animated animate__fadeInLeft animate__delay-1s" href="/resources") Get Started
              .gap
              a(class="waves-effect waves-light light-blue accent-2 btn-large animate__animated animate__fadeInRight animate__delay-1s" href="/enrolment/scheduling") Scheduling
        .row.center.button-cta.hide-on-med-and-down
            a.btn-floating.light-blue.accent-2.pulse(class="animate__animated animate__fadeInDown animate__delay-1s" href="#middle")
              i(class='medium material-icons') add
    //- #middle.row.center
    //-   .half-page
    //-     .col.s12.m8
    //-       .carousel.carousel-slider.center
    //-         .carousel-fixed-item.center
    //-           a.btn.waves-effect.white.grey-text.darken-text-2(href='/news') More
    //-         .carousel-item.red.white-text(href='#one!')
    //-           h2 #{data[0].title}
    //-           p.white-text #{data[0].body}
    //-         .carousel-item.amber.white-text(href='#two!')
    //-           h2 #{data[1].title}
    //-           p.white-text #{data[1].body}
    //-         //- .carousel-item.green.white-text(href='#three!')
    //-         //-   h2 #{data[2].title}
    //-         //-   p.white-text #{data[2].body}
    //-         //- .carousel-item.blue.white-text(href='#four!')
    //-         //-   h2 #{data[3].title}
    //-         //-   p.white-text #{data[3].body}
    //-     .col.s12.m4
    //-       .card.medium.transparent
    //-         .card-content
    //-           span.card-title Coming Up
    //-           p You have one registered class at (TIME)
    //-         .card-action
    //-           a(href="/enrolment/scheduling") Check Scheduling
    //-     .col.s12.m12
    //-       .launchpad
    //-         .card.medium.transparent
    //-           .card-content
    //-             span.card-title Launchpad
    //- br
    //- footer.page-footer.grey.lighten-1
    //-   .container
    //-     .row
    //-       .col.l6.s12
    //-         h5.black-text Need to talk to Merina?
    //-         p.black-text Send her an email using the link below!
    //-         a(href='mailto:forestlakekumon@gmail.com') forestlakekumon@gmail.com
    