extends layout

block content
  .section
    .row
      .col.s6
        h3= title
        p You have successfully reserved 
        p #{name}
        p #{subject}
        p @ #{timeslot}
        p Return to the Enrolment Page
        form(method='GET' action='/enrolment/scheduling')
          button.btn.btn-primary.light-blue.lighten-1(type='submit') Return
