doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(defer src='/javascripts/scripts.js')
  body.login-page
    main
      .container
        .section
          .row.center.valign-login
            .col.s12.m4.offset-m4.z-depth-6.card-panel
              img(class='responsive-img' src='/images/logo.png' alt='Image Missing')
              form(method='POST' action='')
                .row.center.red-text
                  if errors
                    ul
                      for error in errors
                        li!= error.msg
                .row
                  .input-field.col.s10.offset-s1
                    label(for='username') Username
                    input#username.form-control(type='text' name='username' required value=(undefined===user ? '' : user.username))
                  .input-field.col.s10.offset-s1
                    label(for='password') Password
                    input#password.form-control(type='password' name='password' required)
                .row
                .row
                  .col.s10.offset-s1
                     button.btn.btn-block.light-blue.lighten-1(type='submit') Login
                .row
                  a(href='/users/reset') Forgot your password?
    br
    footer.page-footer.transparent
      .footer-copyright.transparent
        .container.center.light-blue-text.text-lighten-1
            p
              | Copyright ©
              script(type='text/javascript ').
                document.write(new Date().getFullYear());
              |  All rights reserved | Digital Media Company

  