extends ../layout

block content
  .section
    .row
      h3= title
      form(method='POST' action='')
        .row 
          .input-field.col.s7
            label(for='username') Username:
            input#username.form-control(type='text' placeholder='John D' name='username' required value=(undefined===user ? '' : user.username))
          .input-field.col.s7
            label(for='fullname') Full Name:
            input#fullname.form-control(type='text' placeholder='John Doe' name='fullname' required value=(undefined===user ? '' : user.fullname))
          .input-field.col.s7
            label(for='email') E-mail:
            input#email.form-control(type='email' placeholder='johndoe@example.com' name='email' required value=(undefined===user ? '' : user.email))
          .input-field.col.s7
            if is_update_form
              .col.hide
                p
                  label.radio-inline
                    input(type='radio', value=0, name='role', class='with-gap', checked)
                    span(class = 'spanSchedule') User
            else 
              p
                label Choose your role:
              p
                label.radio-inline
                  input(type='radio', value=0, name='role', class='with-gap')
                  span(class = 'spanSchedule') User
              p
                label.radio-inline
                  input(type='radio', value=1, name='role', class='with-gap')
                  span(class = 'spanSchedule') Editor
              p
                label.radio-inline
                  input(type='radio', value=2, name='role', class='with-gap')
                  span(class = 'spanSchedule') Admin

          .input-field.col.s12
            hr
            if is_update_form
              p Use the fields below if you want to change your password, too. Otherwise, leave blank.
          .input-field.col.s7
            label(for='password') #{is_update_form ? 'New Password:' : 'Password:'}
            input#password.form-control(type='password' name='password' required=!is_update_form)
          .input-field.col.s7
            label(for='password_confirm') #{is_update_form ? 'Confirm New Password:' : 'Confirm Password:'}
            input#password_confirm.form-control(type='password' name='password_confirm' required=!is_update_form)
        .row
          .col.s6.m5.l5
            button.btn.btn-primary.light-blue.lighten-1(type='submit') Submit
            .gap
            a(class="waves-effect light-blue lighten-1 btn" href="..") Cancel
      .row
        if errors
          ul
            for error in errors
              li!= error.msg