extends ../layout

block content
  .section
    .row
      h3 #{title} 
      br
      p #[strong Username:] #{user.username}
      p #[strong Full Name:] #{user.fullname}
      p #[strong E-mail:] #{user.email}
      p #[strong Role:] 
        if (user.role==0)
          | User
        else if (user.role==1)
          | Editor
        else if (user.role==2)
          | Admin
    .divider
    .row
      .input-field.col.s1
        a(href=user.url+'/update').btn.btn-primary.light-blue.lighten-1 Update User
      if (user.role==2)
        .input-field.col.s1
          a(href='/users/register' class="waves-effect").btn.btn-primary.light-blue.lighten-1 Create Account