/* transistions */
:root {
  --animate-delay: 0.5s;
}

html {
  scroll-behavior: smooth;
}
.modal-button {
  color:grey;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

main {
  flex: 1 0 auto;
}

.full-page{
  min-height: 100vh; 
}

.half-page{
  min-height: 75vh; 
}

.valign{
  padding-top: 15em;
}

.row.center.valign-login{
  padding-top: 12em;
}

.resource-card{
  background-color: #fff;
}

.button-cta {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
}

.button-top{
  padding-top: 15px;
}

.btn-block {
  width: 100%;
}

body.login-page{
  background-image:linear-gradient(to bottom right, #81d4fa, #e1f5fe);
  height: 100vh;
}

.gap{
  width:15px;
  height:auto;
  display:inline-block;
}

.spanSchedule {
  color: black;
}

.colorBlue{
  color: #29b6f6 !important;
}


/* label focus color */
.input-field input:focus + label {
  color: #29b6f6 !important;
}


/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #29b6f6 !important;
  box-shadow: 0 1px 0 0 #29b6f6 !important
}

/* radio focus color */
.radio-inline [type="radio"]:checked + span::after, 
.radio-inline [type="radio"].with-gap:checked + span::after {
  background-color: #29b6f6 !important;
}
.radio-inline [type="radio"]:checked + span::after, 
.radio-inline [type="radio"].with-gap:checked + span::before, 
.radio-inline [type="radio"].with-gap:checked + span::after {
  border: 2px solid #29b6f6 !important;
}

/* resource i-frame */
.iframe-container {
  overflow: hidden;
  padding-top: 65.5%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 
/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

/* tweak!!! */