extends ../layout

block content
  .section
    .row.center
      .full-page
        p=title
        p #{post[0].title}
        p #{post[0].body}
        p #{post[0]._id}
        form(method='POST' action='')
          button.btn.btn-primary.light-blue.lighten-1(type='submit') Delete Post
        a(class="waves-effect light-blue lighten-1 btn" href='/news/post/'+post[0]._id+'/edit') Edit