extends ../layout

block content
  .section
    .row
      h3= title
      form(method='POST' action='')
        .row 
          .input-field.col.s7
            label(for='title') Title
            input#title.form-control(type='text' name='title' required value=(undefined===post ? '' : post.title))
          .input-field.col.s7
            label(for='body') Text:
            textarea#body.form-control.materialize-textarea(name='body' required value=(undefined===post ? '' : post.body))
        .row
          .col.s6.m5.l5
            button.btn.btn-primary.light-blue.lighten-1(type='submit') Submit
            .gap
            a(class="waves-effect light-blue lighten-1 btn" href="..") Cancel
      .row
        if errors
          ul
            for error in errors
              li!= error.msg