extends ../layout

block content
  .section
    .row.center
      .full-page
        p=title
        if (current_user.role === 2)
          a(class="waves-effect light-blue lighten-1 btn" href='/news/post/create') Create Post
        table.centered
          thead
            tr
              th Author
              th Title
              th Date Written
              th Link
          tbody
            each posts in post
              tr
                  td #{posts.author}
                  td #{posts.title}
                  td #{posts.date}
                  td
                    
                    a(href='/news/post/'+posts._id) Link
                  