extends ../layout

block content
  .section
    .row
      h3= title
      form(method='POST' action='')
        //- .row 
        //-   p=title
        //-   p #{post[0].title}
        //-   p #{post[0].body}
        .row
          .input-field.col.s7
            input#title(value=post[0].title, type='text', name='title')
            label.active(for='title') Title
          .input-field.col.s7
            input#body.validate(value=post[0].body, type='text', name='body')
            label.active(for='body') Body
        .row
          .col.s6.m5.l5
            button.btn.btn-primary.light-blue.lighten-1(type='submit') Edit Post
      .row
        if errors
          ul
            for error in errors
              li!= error.msg